
exportPattern("mirnaobj",
   "loadmirnapath",
   "filtermirnapath",
   "loadmirnatogene",
   "loadmirnapathways",
   "runEnrichment",
   "mirnaTable")

exportMethods("show")
exportClasses("mirnapath")
